.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 86px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
  }
  
  .about-container strong {
    color: #000;
  }

  .contact-container {
    padding: 20px;
    max-width: 600px;
    margin: 53px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .contact-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-container label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
  }
  
  .contact-container input,
  .contact-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .contact-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .contact-container button:hover {
    background-color: #45a049;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .modal-overlay {
  position: fixed;
  top: 200px;
  left: 500px;
  right: 200px;
  bottom: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content {
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .home_products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .home_products_img {
        width: 360px;
    }
    .product_details {
        padding: 0 30px;
    }
    .all_product_section{
        margin-left: -50px;
    }
    .all_product_buttons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .d_layout_section {
        padding: 0%;
        margin: 0%;
    }
    .d_layout_text {
        font-size: x-small;
    }
    .d_layout_outline {
      margin-left: -30px;
    }
    .dashboard_section {
      margin-left: -40px;
    }
    .dashboard_header_section{
        display: flex;
        gap: 20px;
    }
    .dashboard_header {
        font-size: 30px;
    }
    .auth_section {
        margin-left: 10px;
      }
  }